# <center> 3) Preparación de los Datos <center>
    
    Página tutorial
    
    https://chainladder-python.readthedocs.io/en/latest/getting_started/tutorials/triangle-tutorial.html

## Selección de Datos

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from IPython.display import display, HTML
# !(pip install chainladder)
import chainladder as cl # librería para realizar triángulos de pérdidas

print("pandas: " + pd.__version__)
print("numpy: " + np.__version__)
print("chainladder: " + cl.__version__)

pandas: 1.4.2
numpy: 1.22.0
chainladder: 0.8.18

In [2]:
data=pd.read_csv('wkcomp_pos.csv')

In [3]:
data
# data.columns[4:11]

,GRCODE,GRNAME,AccidentYear,DevelopmentYear,DevelopmentLag,IncurLoss_D,CumPaidLoss_D,BulkLoss_D,EarnedPremDIR_D,EarnedPremCeded_D,EarnedPremNet_D,Single,PostedReserve97_D
0,86,Allstate Ins Co Grp,1988,1988,1,367404,70571,127737,400699,5957,394742,0,281872
1,86,Allstate Ins Co Grp,1988,1989,2,362988,155905,60173,400699,5957,394742,0,281872
2,86,Allstate Ins Co Grp,1988,1990,3,347288,220744,27763,400699,5957,394742,0,281872
3,86,Allstate Ins Co Grp,1988,1991,4,330648,251595,15280,400699,5957,394742,0,281872
4,86,Allstate Ins Co Grp,1988,1992,5,354690,274156,27689,400699,5957,394742,0,281872
...,...,...,...,...,...,...,...,...,...,...,...,...,...
13195,44300,Tower Ins Co Of NY,1997,2002,6,334,287,15,4387,3374,1013,1,1187
13196,44300,Tower Ins Co Of NY,1997,2003,7,318,293,2,4387,3374,1013,1,1187
13197,44300,Tower Ins Co Of NY,1997,2004,8,323,300,7,4387,3374,1013,1,1187
13198,44300,Tower Ins Co Of NY,1997,2005,9,310,297,0,4387,3374,1013,1,1187
13199,44300,Tower Ins Co Of NY,1997,2006,10,312,297,0,4387,3374,1013,1,1187

### Triángulo de pérdidas

Creamos el triángulo de pérdidas para mirar como han evolucionado los pagos de las pólizas a partir del año en que ocurre el accidente, se toma como origen el año del accidente y como development el año en que se evalua el pago de la póliza. Se crean triángulos para cada una de las variables tanto de pérdidas (pólizas pagadas) como de ganancias (polizas ganadas en las compañías). El proceso se puede clasificar para cada compañía, por lo que se escoge como índice el nombre de las compañías GRNAME

In [16]:
# #Ejemplo con una variable
# triangle_ex = cl.Triangle(
#     data[data.columns[:6]],
#     origin="AccidentYear",
#     development="DevelopmentYear",
#     columns='IncurLoss_D',
#     index=["GRNAME"],
#     cumulative=True,
# )
# triangle_ex

In [17]:
# data[data.columns[:4]]

In [38]:
triangle = cl.Triangle(
    data,
    origin="AccidentYear", # filas
    development="DevelopmentYear", # columnas
    columns=data.columns[5:], # tomamos en cuenta solamente las columnas de ganancias y pérdidas
    index=["GRNAME"], # nombres de las compañías
    cumulative=True, # triángulo de pérdidas acumulado o no
)
triangle #objeto de pandas

                                             Triangle Summary
Valuation:                                            2006-12
Grain:                                                   OYDY
Shape:                                       (132, 8, 19, 19)
Index:                                               [GRNAME]
Columns:    [IncurLoss_D, CumPaidLoss_D, BulkLoss_D, Earne...

Obtenemos 132x8 triángulos (132 empresas, 8 variables/columnas) ,cada uno de tamaño 19x19.

Ejemplo de algunas de las compañías que se convierten en índices del triángulo de pérdidas

In [41]:
triangle.index.head()

                         GRNAME
0                  Agway Ins Co
1             Alaska Nat Ins Co
2    Alaska Timber Ins Exchange
3           Allstate Ins Co Grp
4  American Contractors Ins Grp

In [42]:
print("Estructura del Chainladder triangle:", type(triangle.values))
 # suma de todas las pérdidas paara todas las empresas
print("Suma de los valores de la tabla de datos:", np.nansum(triangle.values))

Estructura del Chainladder triangle: <class 'numpy.ndarray'>
Suma de los valores de la tabla de datos: 1292411698.0

Resumen de los triángulos de pérdidas: 

    Hay  3 variables de pérdida
    
    Año de evaluación es 12-2006

In [43]:
triangle[[x for x in data.columns if("Loss" in x)]]

                                    Triangle Summary
Valuation:                                   2006-12
Grain:                                          OYDY
Shape:                              (132, 3, 19, 19)
Index:                                      [GRNAME]
Columns:    [IncurLoss_D, CumPaidLoss_D, BulkLoss_D]

Frecuencias de la parte exploratoria para GRNAME, la cual nos mostraba los nombres de las 132 empresas en la base de datos.

In [44]:
freq=pd.DataFrame(data['GRNAME'].value_counts())
freq.index

Index(['Allstate Ins Co Grp', 'Bancinsure Inc', 'Harco Natl Ins Co',
       'Transportation Cas Ins Co', 'Beacon Mut Ins Co', 'Mapfre Reins Corp',
       'National American Ins Co', 'Midwest Family Mut Ins Co',
       'Associated Industries Ins Co', 'Lumbermens Underwriting Alliance',
       ...
       'Catholic Relief Ins Co Of Amer', 'Care West Ins Co', 'FFVA Mut Ins Co',
       'MO Employers Mut Ins Co', 'Martingale Natl Ins Co',
       'Hyundai Marine & Fire Ins Co Ltd', 'Agway Ins Co', 'Mada Ins Exchange',
       'Lumber Ins Cos', 'Tower Ins Co Of NY'],
      dtype='object', length=132)

Ejemplo del triángulo de pérdidas para cada año, según cuanto tiempo se haya tardado en resolver cada caso

In [46]:
triangle.loc['Allstate Ins Co Grp'].iloc[0] ['IncurLoss_D']

           12        24        36        48        60        72        84        96        108       120  132  144  156  168  180  192  204  216  228
1988  367404.0  362988.0  347288.0  330648.0  354690.0  350092.0  346808.0  349124.0  348157.0  347762.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1989  336928.0  316483.0  278496.0  303033.0  299496.0  295061.0  299251.0  297492.0  300620.0  296626.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1990  289198.0  311381.0  277980.0  277732.0  276563.0  278067.0  276704.0  281101.0  278023.0  279032.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1991  297174.0  277209.0  269739.0  272666.0  271318.0  267578.0  269592.0  267745.0  266677.0  264467.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1992  181796.0  205079.0  199106.0  187833.0  185663.0  184940.0  184507.0  184705.0  183888.0  181261.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1993  114807.0  114774.0  101460.0   98430.0   96930.0   96121.0   98085.0   93795.0   93753.0   95363.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1994  107934.0  107569.0   97730.0   96185.0   96124.0   95821.0   95722.0   95496.0   96374.0   95766.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1995  100686.0   94456.0   92314.0   92241.0   92929.0   92214.0   92107.0   92362.0   91470.0   93060.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1996   53381.0   51205.0   51087.0   51015.0   50226.0   50343.0   50060.0   49564.0   49739.0   49459.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1997    6725.0    6663.0    6473.0    2917.0    2933.0    3103.0    3002.0    2909.0    2907.0    2909.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1998       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1999       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2000       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2001       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2002       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2003       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2004       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2005       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2006       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN

Acontinuación se muestra el triángulo para de las pérdidas pagadas y gastos al final de cada año y de forma acumulada. El año de inicio es de 1988 y a lo máximo el año de evaluación en el que se ha pagado llega al año 1997, esto a pesar de que hay datos de hasta el 2006.

Esto se muestra para la primer empresa en el index 'Allstate Ins Co Grp'

In [24]:
triangle.loc[freq.index[0]].iloc[-1]['CumPaidLoss_D']

          12        24        36        48        60        72        84        96        108       120  132  144  156  168  180  192  204  216  228
1988  70571.0  155905.0  220744.0  251595.0  274156.0  287676.0  298499.0  304873.0  321808.0  325322.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1989  66547.0  136447.0  179142.0  211343.0  231430.0  244750.0  254557.0  270059.0  273873.0  277574.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1990  52233.0  133370.0  178444.0  204442.0  222193.0  232940.0  253337.0  256788.0  261166.0  263000.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1991  59315.0  128051.0  169793.0  196685.0  213165.0  234676.0  239195.0  245499.0  247131.0  248319.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1992  39991.0   89873.0  114117.0  133003.0  154362.0  159496.0  164013.0  166212.0  167397.0  168844.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1993  19744.0   47229.0   61909.0   85099.0   87215.0   88602.0   89444.0   89899.0   90446.0   90686.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1994  20379.0   46773.0   88636.0   91077.0   92583.0   93346.0   93897.0   94165.0   94558.0   94730.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1995  18756.0   84712.0   87311.0   89200.0   90001.0   90247.0   90687.0   91068.0   91001.0   91161.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1996  42609.0   44916.0   46981.0   47899.0   48583.0   49109.0   49442.0   49073.0   49161.0   49255.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1997    691.0    2085.0    2795.0    2866.0    2905.0    2909.0    2908.0    2909.0    2909.0    2909.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1998      NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1999      NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2000      NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2001      NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2002      NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2003      NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2004      NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2005      NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2006      NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN

120/12=10 años las primas que más tardaron en pagarse duraron 10 años, por ejm se pagaron $325322 a los accidentes que ocurrieron en el año 1988, esto contando los caso que duraron en resolverse 1 año, 2 años,... 10 años

In [52]:
# for x in data.columns[5:]:
#     display(triangle.loc[freq.index[10]].iloc[-1][x])

### Creamos dos nuevas variables en el triángulo de pérdidas.

"CaseincurLoss": Esta nueva variable se crea restando el valor de "BulkLoss_D" de "IncurLoss_D". Básicamente, calcula la diferencia entre las pérdidas incurridas y las pérdidas globales  para cada punto de datos correspondiente en el conjunto de datos. Nos da una idea de cuales fueron aquéllas pérdidas adicionales a lo que se pagó en la prima

"PaidToInc": Esta nueva variable se crea dividiendo el valor de "CumPaidLoss_D" por "IncurLoss_D". Básicamente, calcula la proporción de pérdidas incurridas que se han pagado hasta un punto específico en el tiempo.

In [52]:
triangle["CaseIncurLoss"] = triangle["IncurLoss_D"] - triangle["BulkLoss_D"] 
triangle["PaidToInc"] = triangle["CumPaidLoss_D"] / triangle["IncurLoss_D"] 
triangle[["CaseIncurLoss", "PaidToInc"]]

                      Triangle Summary
Valuation:                     2006-12
Grain:                            OYDY
Shape:                (132, 2, 19, 19)
Index:                        [GRNAME]
Columns:    [CaseIncurLoss, PaidToInc]

Ejemplo para la primer empresa

In [53]:
triangle.loc[freq.index[0]].iloc[-1]['CaseIncurLoss']

           12        24        36        48        60        72        84        96        108       120  132  144  156  168  180  192  204  216  228
1988  239667.0  302815.0  319525.0  315368.0  327001.0  329451.0  332295.0  333262.0  339183.0  338919.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1989  220756.0  264185.0  257953.0  274187.0  277463.0  277887.0  281400.0  287187.0  288100.0  289295.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1990  180239.0  248838.0  245419.0  251874.0  255374.0  261422.0  267276.0  269240.0  271128.0  272577.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1991  184338.0  216958.0  232673.0  243735.0  247143.0  254728.0  256693.0  259449.0  259431.0  258660.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1992  108661.0  152919.0  159552.0  167602.0  173131.0  173826.0  175428.0  176819.0  177370.0  176388.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1993   56916.0   75001.0   85272.0   93269.0   93162.0   93028.0   92402.0   92128.0   92350.0   92499.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1994   60529.0   84964.0   96026.0   95648.0   95707.0   95123.0   95088.0   95134.0   95816.0   95638.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1995   57899.0   91402.0   91845.0   91825.0   92445.0   91765.0   91853.0   92037.0   91376.0   91571.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1996   47716.0   49417.0   49824.0   49898.0   49912.0   50191.0   49847.0   49470.0   49456.0   49459.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1997    3178.0    4152.0    4256.0    2900.0    2922.0    2919.0    2908.0    2909.0    2907.0    2909.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1998       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1999       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2000       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2001       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2002       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2003       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2004       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2005       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2006       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN

Para la 1er empresa hay una optimización de los gastos de las primas incurridas con el paso de los años, reduciéndose en varios órdenes de magnitud

## Pérdidas acumuladas/ Primas ganadas en el año en cuestión

In [26]:
triangle["CumPaidLoss_D"].sum() / triangle["EarnedPremNet_D"].sum()

           12        24        36        48        60        72        84        96        108       120  132  144  156  168  180  192  204  216  228
1988  0.169002  0.377577  0.511551  0.589170  0.641199  0.670077  0.691697  0.707762  0.726853  0.734252  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1989  0.171152  0.380515  0.510029  0.592723  0.641889  0.673263  0.695181  0.718333  0.727896  0.736776  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1990  0.170250  0.402847  0.540943  0.621712  0.669555  0.699547  0.727737  0.741724  0.753801  0.761300  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1991  0.168254  0.384413  0.510169  0.585788  0.633060  0.669131  0.685162  0.700841  0.709746  0.716366  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1992  0.156652  0.356895  0.463579  0.535713  0.585474  0.606911  0.626156  0.639385  0.648478  0.656737  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1993  0.137911  0.299451  0.386339  0.448436  0.478351  0.500951  0.514849  0.524425  0.532535  0.538605  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1994  0.135294  0.289192  0.382980  0.429647  0.460100  0.479147  0.491811  0.502014  0.509397  0.516786  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1995  0.131396  0.293704  0.367651  0.415741  0.444896  0.462494  0.475378  0.483372  0.490237  0.497043  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1996  0.157595  0.304066  0.387472  0.436638  0.467298  0.488593  0.503505  0.512192  0.520638  0.526420  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1997  0.154052  0.331010  0.426129  0.483107  0.517449  0.539827  0.554047  0.565653  0.571992  0.578609  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1998       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1999       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2000       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2001       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2002       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2003       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2004       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2005       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2006       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN

In [27]:
triangle.groupby("GRNAME").sum()

                                             Triangle Summary
Valuation:                                            2006-12
Grain:                                                   OYDY
Shape:                                       (132, 8, 19, 19)
Index:                                               [GRNAME]
Columns:    [IncurLoss_D, CumPaidLoss_D, BulkLoss_D, Earne...

In [28]:
pd.DataFrame(np.unique(triangle["GRNAME"]))

                                       0
0                           Agway Ins Co
1                      Alaska Nat Ins Co
2             Alaska Timber Ins Exchange
3                    Allstate Ins Co Grp
4           American Contractors Ins Grp
..                                   ...
127        Wisconsin American Mut Ins Co
128          Wisconsin Cnty Mut Ins Corp
129                    Workers Comp Exch
130  Yasuda Fire & Marine Ins Co Of Amer
131                Zurich Ins (Guam) Inc

[132 rows x 1 columns]

In [55]:
triangle.sum(axis="index").sum(axis="segments")

                                             Triangle Summary
Valuation:                                            2006-12
Grain:                                                   OYDY
Shape:                                        (1, 10, 19, 19)
Index:                                               [GRNAME]
Columns:    [IncurLoss_D, CumPaidLoss_D, BulkLoss_D, Earne...

In [30]:
triangle.sum(axis=0).sum(axis=1)

               12            24            36            48            60            72            84            96            108           120  132  144  156  168  180  192  204  216  228
1988  6.505202e+06  6.997869e+06  7.251030e+06  7.372099e+06  7.515941e+06  7.561299e+06  7.568639e+06  7.594218e+06  7.626114e+06  7.627609e+06  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1989  6.993457e+06  7.484945e+06  7.702620e+06  7.928530e+06  8.019304e+06  8.050753e+06  8.084617e+06  8.121028e+06  8.141987e+06  8.134594e+06  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1990  7.497081e+06  8.222617e+06  8.450322e+06  8.596685e+06  8.650997e+06  8.678112e+06  8.728115e+06  8.764842e+06  8.775955e+06  8.762355e+06  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1991  8.307641e+06  8.883702e+06  9.128666e+06  9.234402e+06  9.288538e+06  9.360472e+06  9.398552e+06  9.424778e+06  9.414444e+06  9.406372e+06  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1992  8.511840e+06  9.181715e+06  9.294013e+06  9.316201e+06  9.383361e+06  9.437915e+06  9.472147e+06  9.475233e+06  9.493746e+06  9.488202e+06  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1993  9.280862e+06  9.671522e+06  9.745785e+06  9.724976e+06  9.784144e+06  9.817475e+06  9.809138e+06  9.781034e+06  9.780237e+06  9.770262e+06  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1994  9.631596e+06  9.962505e+06  9.981473e+06  9.963320e+06  9.983721e+06  9.994179e+06  9.982154e+06  9.978186e+06  9.984483e+06  9.999210e+06  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1995  9.607223e+06  9.916159e+06  9.952892e+06  9.865499e+06  9.889690e+06  9.871081e+06  9.880913e+06  9.884362e+06  9.913839e+06  9.943801e+06  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1996  8.998547e+06  9.221501e+06  9.366476e+06  9.353886e+06  9.346671e+06  9.365625e+06  9.382031e+06  9.403202e+06  9.438648e+06  9.465932e+06  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1997  8.271104e+06  8.668302e+06  8.855529e+06  8.865094e+06  8.899171e+06  8.955651e+06  8.983482e+06  9.024955e+06  9.065311e+06  9.082461e+06  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1998           NaN           NaN           NaN           NaN           NaN           NaN           NaN           NaN           NaN           NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1999           NaN           NaN           NaN           NaN           NaN           NaN           NaN           NaN           NaN           NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2000           NaN           NaN           NaN           NaN           NaN           NaN           NaN           NaN           NaN           NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2001           NaN           NaN           NaN           NaN           NaN           NaN           NaN           NaN           NaN           NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2002           NaN           NaN           NaN           NaN           NaN           NaN           NaN           NaN           NaN           NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2003           NaN           NaN           NaN           NaN           NaN           NaN           NaN           NaN           NaN           NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2004           NaN           NaN           NaN           NaN           NaN           NaN           NaN           NaN           NaN           NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2005           NaN           NaN           NaN           NaN           NaN           NaN           NaN           NaN           NaN           NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2006           NaN           NaN           NaN           NaN           NaN           NaN           NaN           NaN           NaN           NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN